.homepage {
    width: 60vw;
    margin: 0 20vw;
    padding: 20px;
    /* border: 1px solid black; */
}

.admin-table {
    border-color: 'rgb(198, 218, 255)';
}

.admin-td {
    overflow-y: auto;
}

.td-num {
    text-align: right;
}

/* .action-btn-wrap {
    display: flex;
    justify-content: space-evenly;
} */

.action-btn {
    height: auto;
    width: auto;
    padding-left: 20px;
}

.bi-check-circle {
    color: rgb(24, 201, 24);
}

.bi-x-circle {
    color:rgb(230, 20, 20)
}

#cancel-tab{
    color: #cc0404;
}

.nav-link {
    color: black;
}