.header {
    width: 100%;
    height: 10vh;
    background-color: rgb(198, 201, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-style: normal;
}

img {
    height: 85%;
}